/* Basics */

* {
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

body {
  background-color: rgba(50, 199, 149, 0.373);
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2vw;
  margin-bottom: 2vw;
  gap: 1vw;
}

#input-text,
#submit {
  padding: 0.7vw;
  border-radius: 1.5rem;
}

#submit {
  color: white;
  background-color: rgba(103, 179, 153, 0.722);
  border: white solid 0.1rem;
}

#input-text {
  padding-left: 6vw;
  border: none;
}

.submit,
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.buttons {
  margin-bottom: 1vw;
}

input[type="button"] {
  background-color: transparent;
  padding: 0.6vw;
  margin-right: 0.8vw;
  border: white solid 0.1rem;
  border-radius: 1.5rem;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin: 0 15vw;
}

div {
  background-color: rgba(153, 200, 183, 0.661);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1vw;
  border-radius: 10px;
  text-align: center;
}

.movie div h2 {
  margin-bottom: 1rem;
}
.movie div h4 {
  margin-bottom: 1rem;
}
.movie div p {
  margin-bottom: 0.7rem;
}
